<ion-header>
  <ion-toolbar>
    <ion-title>Urinal Analysis</ion-title>
    <ion-buttons slot="start">
     
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid>
   <ion-row>
     <ion-col size="10">
       <ion-item lines="none">
         <ion-label stacked>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Albumin :</ion-label>
         <ion-input type="text" [(ngModel)]="testobj.ALB"></ion-input>
       </ion-item>
     </ion-col>
     <ion-col size="10">
      <ion-item lines="none">
        <ion-label stacked> Urine Sugar:</ion-label>
        <ion-input type="text" [(ngModel)]="testobj.URN"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="10">
      <ion-item lines="none">
        <ion-label stacked> Microscopy:</ion-label>
        <ion-textarea type="text" [(ngModel)]="testobj.MCR"></ion-textarea>
      </ion-item>
    </ion-col>

   </ion-row>
 </ion-grid>
 <ion-button (click)="createPdf()">Submit </ion-button>
 <ion-button (click)="downloadPdf()" color="secondary" [disabled]="!pdfObj"> Print Report </ion-button>
</ion-content>
