<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
   
            <ion-grid>
              <ion-row size=10>
                <ion-col size=6>
                       <ion-card class="card1">
                             <ion-card-header>
                               <ion-card-subtitle>Total Patients</ion-card-subtitle>
                               <ion-card-title>{{item}}</ion-card-title>
                             </ion-card-header>
                       </ion-card>
                </ion-col>
                <ion-col size=6>
                  <ion-card class="card2">
                        <ion-card-header>
                          <ion-card-subtitle>Total Reports generated</ion-card-subtitle>
                          <ion-card-title>66</ion-card-title>
                        </ion-card-header>
                  </ion-card>
           </ion-col>
              </ion-row>
              <ion-row size=10>
                <ion-col size=6>
                       <ion-card class="card3">
                             <ion-card-header>
                               <ion-card-subtitle>Total Reports Closed</ion-card-subtitle>
                               <ion-card-title>55</ion-card-title>
                             </ion-card-header>
                       </ion-card>
                </ion-col>
                <ion-col size=6>
                  <ion-card class="card4">
                        <ion-card-header>
                          <ion-card-subtitle>Total Reports open</ion-card-subtitle>
                          <ion-card-title>66</ion-card-title>
                        </ion-card-header>
                  </ion-card>
           </ion-col>
              </ion-row>
            </ion-grid>

    
  
</ion-content>