ion-content{
      --ion-background-color:#fff;
}
ion-menu-button{
    color:#000;
}
.card1{
    --background:#4cc96e;
    color:#000!important;
}
.card2{
    --background:#1dcfc3;
    color:#000;
}
.card3{
    --background:#1dcfc3;
    color:#000;
}
.card4{
    --background:#bb84cf;
    color:#000;
}


*{
    color:#000;
}