<ion-header>
  <ion-toolbar>
    <ion-title>widal Test</ion-title>
    <ion-buttons slot="start">
     
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
 
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
        <ion-label position="floating">TO:</ion-label>
        <ion-input type="text" [(ngModel)]="testobj.TO"></ion-input>
      </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label position="floating">AH:</ion-label>
            <ion-input type="text" [(ngModel)]="testobj.AH"></ion-input>
          </ion-item>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
        <ion-label position="floating">TH:</ion-label>
        <ion-input type="text" [(ngModel)]="testobj.TH"></ion-input>
      </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label position="floating">BH:</ion-label>
            <ion-input type="text" [(ngModel)]="testobj.BH" ></ion-input>
          </ion-item>
        </ion-col>
        
      </ion-row>
      <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label  position="floating">HB's Ag test :</ion-label>
              <ion-input type="text" [(ngModel)]="testobj.HAG"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="floating">V.D.R.L test :</ion-label>
              <ion-input type="text" [(ngModel)]="testobj.VDRL"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="floating">HIV I & II   &nbsp;&nbsp;&nbsp; :</ion-label>
              <ion-input type="text" [(ngModel)]="testobj.HIV"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="floating">C.R.P Test  &nbsp;&nbsp;:</ion-label>
              <ion-input type="text" [(ngModel)]="testobj.CRP"></ion-input>
            </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="block" (click)="createPdf()" fill="outline">Submit</ion-button>
    <ion-button (click)="downloadPdf()"> <ion-icon name="print"></ion-icon>Print Report</ion-button>
</ion-content>
 