
ion-split-pane{
         --ion-background-color:#fff;
         border:1px;
         
}
ion-menu-button {
       --background:#3CB371;
        margin-top:5%;
       border-radius: 50px;
       padding-left: 30px !important;
       padding-right:30px;
       margin-bottom:10px;
       } 